/*###################################################################*/
/*----------------------------WEBSITE CSS----------------------------*/
/*###################################################################*/

/*----- Fundamental Css -----*/
body,html{
        height:           100%;
        width:            100%;
        margin:           0;
        background-color: transparent;
        font-family:      "Karla","Helvetica Neue",helvetica,arial,sans-serif;
}

h1 {
    font-family:  Verdana,"Times New Roman",Times;
    font-weight:  bold;
    margin:       0;
}

h2,h3,h4 {
    font-family:   "Karla","Helvetica Neue",helvetica,arial,sans-serif;
    font-weight:   bold;
    font-variant:  small-caps;
    color:         none;
    margin:        0;
}

p {
    font-family: Verdana,Helvetica,Arial;
    margin:      0;
}


/*----- Secondary Css -----*/
.Header{
    width:            100%;
    height:           3em;
    background-color: rgb(0,0,0);
}

.Header img{
    height:   3em;
    width:    3*1.7777777em;
    float:    left;
}



/*----- CLASS: commonTitle -----*/
/*NOTE: .css file paths for images are relative to the .css file ITSELF */
.commonTitle{
  background-image:      url("../photos/logos/ACESII_EFI_logo.png");
  background-size:       100% 30em;
  height:                18em;
  width:                 100%em;
  background-attachment: fixed;
  background-repeat:     no-repeat;
}

.commonTitle h1 {
    font-family:  Verdana,"Times New Roman",Times;
    font-weight:  bold;
    color:        white;
    font-size:    3em;
    text-align:   center;
    text-shadow: 3px 3px 0px #000000;
}
.commonTitle h3 {
    font-size:         1em;
    color:             white;
    background-color:  transparent;
    padding:           0em 0em 0em 0em; /*Why does this actually align the under-text?!?!*/
    text-align:        center;
    text-shadow: 3px 3px 0px #000000;
}


/*----- CLASS: row -----*/
.row{
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  width:          100%;
  overflow: hidden;
}

/*
.row{
    background-image: url("../photos/assets/cream_to_white_tab.gif");
    background-size:       100% 10em;
    background-attachment: fixed;
    background-repeat:     no-repeat;
    }
*/

.row:after {
  content: "";
  clear:   both;
}

/*----- Research Page Image Gallery -----*/
.wrapper {
  max-width: auto;
  margin: 0 auto 0 25px;
  padding: 0 50 0 0;
  li {
    display: inline-block;
    overflow: hidden;
    max-height: 300px;
    padding: 25px 25px;
  }
  img {
    max-width: 300px;
  }
  .overlay-container {
    display: block;
    position: relative;
    &::before {
      content: attr(data-overlay-text);
      font: 1em/1.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      /*On top of parent*/
      top: 40%;
      width: 100%;
      text-align: center;
      color: #fff;
      background: rgba(128, 128, 128, 0.80);
      opacity: 0;
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover::before {
      opacity: 1;
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    .overlay-img {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover .overlay-img {
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}


/*----- CLASS: event-Items -----*/

.event-Items{
    font-family:   Verdana,"Times New Roman",Times;
    padding:       1em;
    border-bottom: 1px dotted;
}
.event-Items h1{font-size: 1.3em;}
.event-Items h2,h3{font-size: 1em;}
.event-Items p{font-size: 1.5em;}
.event-Items a{text-decoration: none;
               font-size:0.8em;}
.event-Items a:hover{text-decoration: underline;}

.event-button {}



/*----- CLASS: navigation bar -----*/

/* General*/
.navigation{
    position: relative;
    bottom:   -7.8em;
}

.navigation p{
    font-family:      Verdana,Helvetica,Arial;
    line-height:      none;
    color:            white;
    background-color: rgba(40,40,40,0.7);
    padding:          1.5em 1.5em 1.5em 1.5em; /*Controls the vertical spacing of the tabs */
    text-align:       center;
}

.navigation a{
  color:            white;
  background-color: transparent;
  padding:          1em 1em 1em 1em; /*Controls the horizontal spacing between the tabs */
  text-decoration:  none;
  font-size:        1em;
}

.navigation a:hover{text-decoration: underline;}
.navigation a:visited{color: none;}


/*----- CLASS: copyright -----*/
.copyright{
  height:           auto%;
  text-align:       center;
  background-color: rgb(0,0,0);
}

.copyright p{
    padding: 1%;
    color:   white;
}


/*#############################*/
/*----- PAGE-SPECIFIC CSS -----*/
/*#############################*/

/*----- GENERAL Page-----*/
.GeneralPage-left{
    float:            left;
    margin:           0;
    width:            16%;
    height:           auto%;
    background-color: rgba(215,215,215);
    padding:          2%;
    position:         relative;
    border-right:     1px dotted;
}

.GeneralPage-left a:visited{color: blue;}

.GeneralPage-right{
    margin:           0em;
    width:            55%;
    height:           auto%;
    background-color: rgba(255,255,255,0.7);
    position:         relative;
}

.GeneralPage-right p{
    line-height: 170%;
    padding:     5%;
}

.GeneralPage-right h1{
    padding:   5% 0% 1% 5%;
    font-size: 200%;
}

.GeneralPage-right h2{
    padding:   0% 0% 0% 5%;
    font-size: 100%;
}


/*----- HOME PAGE-----*/

.H-selfie{
    float: right;
    display:          block;
    margin-left:      auto;
    margin-right:     auto;
    width:            24%;
    height:           17%;
    padding:          2% 0% 0% 0%;
    background-color: rgb(255,255,255);
    overflow: hidden;
}

.H-selfie img {
    border:   0.1em black solid;
    max-width:  80%;
    max-height: 80%;
}




/*----- RESEARCH -----*/

/*Control the Informational Columns*/
.ResearchPage-right p{
    line-height: 150%;
    padding:     0% 0% 0% 5%;
}
.ResearchPage-right h1{
    padding:   5% 0% 1% 5%;
    font-size: 150%;
}
.ResearchPage-right h2,h3{
    padding:   0% 0% 0% 5%;
    font-size: 130%;
}
.ResearchPage-right h3{
    padding: 0% 0% 5% 0%;
    font-size: 100%;
}
.ResearchPage-right ul{list-style-type:none;}
.ResearchPage-right a{
    color:     blue;
    padding:   0% 0% 0% 6%;
    font-size: 100%;
    text-decoration: none;
}
.ResearchPage-right a:hover{text-decoration:underline;}
.ResearchPage-right a:visited{color: blue;}
.ResearchPage-right ol{padding: 0% 0% 0% 7%;}

/* Control the Rocket Portrait*/
.ResearchPage-photos{
    float: right;
    display:          block;
    margin-left:      auto;
    margin-right:     auto;
    width:            18%;
    height:           17%;
    padding:          2% 0% 0% 0%;
    background-color: rgb(255,255,255);
    overflow: hidden;
}

.ResearchPage-photos img {
    border:   0.1em black solid;
    max-width:  80%;
    max-height: 80%;
}
#Interest li{padding: 0% 0% 0% 2%;}


/*----- PUBLICATIONS -----*/


/*----- TEACHING -----*/

/*Control the Informational Columns*/
.T-right{
    margin:           0;
    width:            55%;
    height:           auto%;
    background-color: rgba(255,255,255,0.7);
    position:         relative;
}
.T-right a{
    font-size: 1em;
    text-decoration: none;
    }
.T-right a:visited{color:blue;}
.T-right a:hover{text-decoration:underline;}

.T-right p{
    line-height: 200%;
    padding:     5%;
}
.T-right h1{
    padding:   5% 0% 5% 5%;
    font-size: 150%;
}
.T-right h2{
    padding:   0% 0% 0% 5%;
    font-size: 150%;
}
.T-right h3{
    padding:   0% 0% 0% 5%;
    font-size: 100%;
    }
.T-left{
    float: left;
    margin:           0;
    width:            16%;
    height:           auto%;
    background-color: rgba(215,215,215);
    padding:          2%;
    position:         relative;
    border-right:     1px dotted;
}
.T-left a:visited{color: blue;}

/*Control the Table Information on Main Teaching Page*/
.T-right table,tr,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
.T-right table{ margin-left: 5%;}
.T-right td{padding: 0.5em;}
.T-right th{padding: 0.5em;}
.T-right ul{list-style-type:none;}
.T-right li{padding: 0% 0% 0% 2%}








/*----- TEACHING - COURSES -----*/

/*---Physics 1511-Main- Fall 2019---*/
.T-course-right{
    margin:           0;
    width:            55%;
    height:           auto%;
    background-color: rgba(255,255,255,0.7);
    position:         relative;
}
.T-course-right a{font-size: 1em;}
.T-course-right a:visited{color:blue;}
.T-course-right a{text-decoration:none;}
.T-course-right a:hover{text-decoration:underline;}
.T-course-right p{
    line-height: 100%;
    padding: 0% 0% 0% 5%;
    }
.T-course-right h1{
    padding:   5% 0% 5% 5%;
    font-size: 150%;
}
.T-course-right h2{
    padding:   0% 0% 0% 5%;
    font-size: 150%;
}
.T-course-right h3{
    padding:   0% 0% 0% 5%;
    font-size: 100%;
    }

.T-course-right table,tr,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
.T-course-right table{ margin-left: 5%;}
.T-course-right td{padding: 0.5em;}
.T-course-right th{padding: 0.5em;}


.T-course-left{
    float: left;
    margin:           0;
    width:            16%;
    height:           auto%;
    background-color: rgba(215,215,215);
    padding:          2%;
    position:         relative;
    border-right:     1px dotted;
}
.T-course-left a:visited{color: white;}
.T-course-left a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.T-course-button{
    height: 6em;
    text-align:         center;
    background-color:   none;
    background-repeat:  no-repeat;
    background-image:   url("photos/assets/button.png");
    background-size:    100% 100%;
}
.T-course-button p{
    text-decoration: none;
    font-family: Helvetica,Verdana;
    font-size: 0.8em;
    font-weight: bold;
    font-color: white;
    position: relative;
    padding: 3.25em 0em 0em 0em;
}














/*----- ABOUT -----*/
/*Control the Informational Columns*/
.A-Images{
    float: right;
    display:          block;
    margin-left:      auto;
    margin-right:     auto;
    width:            100%;
    height:           100%;
    padding:          2% 0% 0% 0%;
    background-color: rgb(255,255,255);
    overflow: hidden;
}

.A-Images img {
    border:   0.1em black solid;
    max-width:  100%;
    max-height: 100%;
}

.A-right table{ margin-left: 5%;}
.A-right td{padding: 0.5em;}
.A-right th{padding: 0.5em;}

.A-right{
    margin:           0;
    width:            70%;
    height:           auto%;
    background-color: rgba(255,255,255,0.7);
    position:         relative;
}
.A-right p{
    line-height: 200%;
    padding:     5%;
}
.A-right h1{
    padding:   5% 0% 5% 5%;
    font-size: 200%;
}
.A-right h2{
    padding:   0% 0% 0% 5%;
    font-size: 180%;
}
.A-left{
    float: left;
    margin:           0;
    width:            16%;
    height:           auto%;
    background-color: rgba(215,215,215);
    padding:          2%;
    position:         relative;
    border-right:     1px dotted;
}
.A-left a:visited{color: blue;}
.A-left p{font-size: 0.75em;}
.A-left h2{font-size: 1em;}





/*----- CONTACT -----*/
.C-right{
    margin:           0;
    width:            55%;
    height:           auto%;
    background-color: rgba(255,255,255,0.7);
    position:         relative;
}
.C-right p{padding: 5%;}
.C-right h1{
    padding:   5% 0% 5% 5%;
    font-size: 150%;
}
.C-right h2{
    padding:   0% 0% 0% 5%;
    font-size: 100%;
}
.C-left{
    float: left;
    margin:           0;
    width:            16%;
    height:           auto%;
    background-color: rgba(215,215,215);
    padding:          2%;
    position:         relative;
    border-right:     1px dotted;
}
.C-left img {
    max-width:  100%;
    max-height: 100%;
}
